.c-bar {
    max-width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; /** 20 grid column */
    grid-template-rows: 12px 12px 12px 12px 12px;
}

.c-bar__cell {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    border: 1px solid #ececec;
}
